@import "tailwindcss";

@theme {
  --font-display: "Roboto", sans-serif;
  --font-italic: "Playwrite NO", cursive;
  --animate-fade: fade 0.5s ease-in-out;
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

button {
  cursor: pointer;
}
